<ul class="list-group">
    <li class="list-group-item  list-group-item-dark">Profilim</li>
    <li class="list-group-item"><a asp-action="Profile" >Profil Bilgilerim</a></li>
    <li class="list-group-item"><a asp-action="Orders" >Geçmiş Siparişlerim</a></li>
    <li class="list-group-item"><a asp-action="PaymentMethods" >Ödeme Bilgilerim</a></li>
    <li class="list-group-item"><a asp-action="Addresses">Adres Bilgilerim</a></li>
</ul>